<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-718T2QTYTX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-718T2QTYTX');
</script>

<meta charset="utf-8">

<title>{{ .Title }} - Dmitry Borzov (borzov.ca)</title>
<link rel="stylesheet" href="/css/style_v2.css" type="text/css">
<link rel="stylesheet" href="/css/_pygments.css" type="text/css">
<style type="text/css"></style>
</head>
<body screen_capture_injected="true">
<div class="container">

<div class="header">
  Dmitry Borzov<br>
  <a href="/">borzov.ca</a> {{ .RelPermalink }}
</div>

<div class="navigation">
      <ul>
        <a href="https://github.com/dborzov"><img src="/css/octocat.png" width="20">Github</a>
      </li>
      </ul>
</div>
  <div class="body">
    {{ .Content }}
  </div>
</body>

</html>
