<!DOCTYPE html>
<html>
  <head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-718T2QTYTX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-718T2QTYTX');
</script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title>EVERYBODY LOVES HYPNOTOAD</title>
    <link rel="stylesheet" href="/css/style_v2.css" type="text/css">
    <link rel="stylesheet" href="/css/pygments.css" type="text/css">
    <meta name="google-site-verification" content="JfT9G52926M9Q1YHrTT_OYZ6HXGzn3N-G11sDnyXQhw" />
      <style type="text/css"></style>
  </head>
<body screen_capture_injected="true">
    <div class="container">
      <div class="header">
      </div>
      <div class="navigation">
        <ul><a href="https://github.com/dborzov"><img src="./css/octocat.png" width="20">Github</a>
        </li></ul>
      </div>
          <div class="body">
            {{ range where .Data.Pages "Section" "home" }}
               {{ .Content}}
            {{ end }}
            <div class="section" id="like-my-work">
            <center>
                <a href="/id_rsa.pub">[my public key]</a>
            </center>
            </div>
              <div class="footer">
                <p><br></p>
                <p><img class="photo" src="img/photo.jpg" width="200"></p>
              </div>
        </div>
    </div>
</body>
</html>
